<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

<title>Student Add Form</title>
</head>
<body>

	<div>

		<fieldset>

			<legend>Edit Student Information</legend>

			<form th:action="@{/edit}" method="POST" th:object="${student}">
			
			<div>
					 <input
						type="hidden" name="id"
						th:field="*{id}" >
				</div>

				<div>
					<label for="sname">Enter Student Registration No</label> <input
						type="text" placeholder="Enter Registration No" name="redgno"
						th:field="*{redgno}" readonly>
				</div>
				
				

				<br>
				<div>
					<label for="sname">Enter Student Name</label> <input type="text"
						placeholder="Enter Name" name="name" th:field="*{name}" required>
				</div>

				<br> <br>

				<div>
					<label for="sname">Enter Student Address</label> <input type="text"
						placeholder="Enter Address" name="address" th:field="*{address}"
						required>
				</div>

				<br>

				<div>
					<label for="sname">Enter Student Relation With Guardian</label> <input
						type="text" placeholder="Enter RelationShip with Student"
						name="relation" th:field="*{relation}" required>
				</div>

				<br>

				<div>
					<label for="sname">Enter Guardian Name</label> <input type="text"
						placeholder="Enter Guardian Name" name="guardianName"
						th:field="*{guardianName}" required>
				</div>

				<br> <input type="submit">

			</form>

		</fieldset>



	</div>

</body>
</html>